<div
    class="account-settings-card"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <p>
        Atualize as informações da sua conta
    </p>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Nome
                </label>
                <mat-form-field>
                    <mat-label>
                        Nome
                    </mat-label>
                    <input matInput value="Mateo">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Email
                </label>
                <mat-form-field>
                    <mat-label>
                        Email
                    </mat-label>
                    <input matInput value="mateo@daxa.com">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="btn-box">
        <button mat-button>
            Atualizar
        </button>
        <button mat-button>
            Cancel
        </button>
    </div>
</div>
