<h1 mat-dialog-title>Editando {{ data.name }} </h1>
<form [formGroup]="updateClientForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div class="row mb-10">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="updateClientForm.controls['name'].errors?.['required']">
                        Nome é obrigatório
                    </mat-error>
                    <mat-error
                        *ngIf="updateClientForm.controls['name'].errors?.['minlength'] || updateClientForm.controls['name'].errors?.['maxlength']">
                        Nome deve ter 3 á 50 caracteres
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
        <div class="row mb-10">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Endereço</mat-label>
                    <input matInput formControlName="address">
                    <mat-error
                        *ngIf="updateClientForm.controls['address'].errors?.['minlength'] || updateClientForm.controls['address'].errors?.['maxlength']">
                        Endereço deve ter 3 á 100 caracteres
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                         <mat-option value="{{status}}" *ngFor="let status of listStatus;">{{ status | titlecase }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Instagram</mat-label>
                    <input matInput formControlName="instagram">
                    <mat-error
                        *ngIf="updateClientForm.controls['instagram'].errors?.['minlength'] || updateClientForm.controls['instagram'].errors?.['maxlength']">
                        Instagram deve ter 3 á 50 caracteres
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput mask="+00 (00) 0 0000-0000||+00 (00) 0000-0000" [dropSpecialCharacters]="true" formControlName="phone">
                    <mat-error
                        *ngIf="updateClientForm.controls['phone'].errors?.['minlength']">
                        Telefone deve ter no mínimo 12 caracteres
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-checkbox formControlName="whatsapp">Esse numero tem WhatsApp ?</mat-checkbox>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="mt-0">
        <button mat-button class="primary" (click)="onNoClick($event)">Cancelar</button>
        <button mat-button class="daxa" type="submit" [disabled]="updateClientForm.invalid">Salvar</button>
    </div>
</form>
